{{define "base"}}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{template "title" .}} - Hello There!</title>
        <!-- Include the CSS file -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>
    <body>
        <header>
            <h1>Welcome!</h1>
        </header>
        <section>
            {{template "body" .}}
        </section>
        {{template "footer" .}}
        <!-- Include the JS file -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
            $(function () {
                $("#regis-form").on("submit", function (e) {
                    e.preventDefault();

                    var $self = $(this);
                    var payload = JSON.stringify({
                        fullname: $('[name="fullname"]').val(),
                        address: $('[name="address"]').val(),
                        email: $('[name="email"]').val()
                        password: $('[name="password"]').val()
                    });

                    $.ajax({
                        url: $self.attr("action"),
                        type: $self.attr("method"),
                        data: payload,
                        contentType: 'application/json',
                    }).then(function (res) {
                        $(".message").text(res);
                    }).catch(function (a) {
                        alert("ERROR: " + a.responseText);
                    });
                });
            });
        </script>
    </body>
</html>
{{end}}