{{template "base" .}}

{{define "title"}}Create Your Profile{{end}}

{{define "body"}}
<form action='/login' method='POST'>
    <table>
        <tr>
            <td>
                <label>Email:</label>
            </td>
            <td>
                <input required type="email" name="email" placeholder="name@email.com" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Password:</label>
            </td>
            <td>
                <input required type="password" name="password" placeholder="your password" />
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: right;">
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
</form>
<a href='/registration'>Create a New Account</a>
{{end}}