{{template "base" .}}

{{define "title"}}Create Your Profile{{end}}

{{define "body"}}
<div class="message">
    <form id='regis-form' action='/signup' method='POST'>
        <table>
            <tr>
                <td>
                    <label>Fullname:</label>
                </td>
                <td>
                    <input required type="text" name="fullname" placeholder="Type name here" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Address:</label>
                </td>
                <td>
                    <input required type="text" name="address" placeholder="Street 123" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Email:</label>
                </td>
                <td>
                    <input required type="email" name="email" placeholder="name@email.com" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Password:</label>
                </td>
                <td>
                    <input required type="password" name="password" placeholder="1234!*." />
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: right;">
                    <button type="submit">Submit</button>
                </td>
            </tr>
        </table>
    </form>
</div>
{{end}}